@model PixlparkApp.Models.Shipping
    <div>
        <p>
            <b>@Html.DisplayNameFor(model => model.Title)</b>
            <span>: </span>
            @Html.DisplayFor(model => model.Title)
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.ShippingType)</b>
            <span>: </span>
            @Html.DisplayFor(model => model.ShippingType)
        </p>
    </div>
